# IDE files
.idea
workspacce.xml

** /venv

# secrets
git-token.txt
certificate.pem
key.pem
client_secret.json
client_secret_desktop.json
client_secret_web.json

# test files
test_data.txt
test_data*.txt
