{% extends 'base.html' %}

{% block content %}
<h2>{% block title %} Добро пожаловать! {% endblock %}</h2>
<h3>Меня зовут Диспетчер.</h3>

<form action="{{ url_for('authorize') }}" method="post">
    <h4>Введите список преподавателей, каждый с новой строки</h4>
    Например, example@college.omsu.ru
    <br>
    <textarea name="tutors_input" cols="100" rows="5">{{ init_tutors }}</textarea>
    <br>
    <input type="submit" value="Отобразить расписание" class="btn btn-primary">
</form>

<form action="{{ url_for('test_data') }}" method="post">
    <input type="submit" value="Тест" class="btn btn-secondary">
    <br>
</form>

<br>
{% if urls|length > 0 %}
<h4>Расписание для преподавателей:</h4><br>
<table id="results_table" class="table table-bordered">
    <tbody>
    {% for dict_item in urls %}
        {% for key, value in dict_item.items() %}
            <tr>
                <td><a href={{ value }}>{{ key }}</a></td>
                <td><form action="{{ url_for('choose') }}" method="post">
                    <button name="chooseBtn" class="btn btn-success" type="submit", value={{ key }}>Show</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
    </table>
{% endif %}


<br>
{% if timetable_list|length > 0 %}
<h4>{{ timetable_name }}</h4>
<table id="data" class="table table-bordered">
    <tbody>
    {% for row in timetable_list %}
    <tr>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}




