{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Dispatcher {% endblock %}</h1>

    <form action="{{ url_for('authorize') }}" method="post">
        <p>Список идентификаторов преподавателей. Например, example@college.omsu.ru</p>
        <textarea name="tutors_input" cols="100" rows="5">{{ init_tutors }}</textarea>
        <br>
        <input type="submit" value="Make timetables" class="btn btn-primary">
        <br>
        <p>Расписание появится тут:</p>
    </form>

        {% for url in urls %}
            <a href={{ url }}>{{ url }}</a>
            <br>
        {% endfor %}

{% endblock %}



