{% extends 'base.html' %}

{% block content %}
 <form action="{{ url_for('options') }}" method="POST">
  <p><b>Дата начала семестра. Например, 2021-09-01 08:00:00</b><br>
   <input type="text" size="40" name="lower_date" value="{{ lower_date }}">
  </p>
  <p><b>Дата окончания семестра:</b><br>
   <input type="text" size="40" name="upper_date" value="{{ upper_date }}">
  </p>
  <p><b>Семестр:</b><Br>
   <input type="radio" name="browser" value="1"> Осенний <Br>
   <input type="radio" name="browser" value="2"> Весенний <Br>
  </p>
  <p><b>Настраиваемая первая неделя:</b><br>
   <input type="text" size="40" name="first_week" value="{{ first_week }}">
  </p>
  <p><input type="submit" value="Сохранить" class="btn btn-primary"></p>
 </form>


{% endblock %}